@using WWW.Components.UI
@inherits LayoutComponentBase


<MudLayout>
    <MudAppBar Elevation="1">
        <MudStack Row AlignItems="AlignItems.Center">
            <MudAvatar></MudAvatar>
            <MudText Typo="Typo.h6">Quality Assurance</MudText>
        </MudStack>
        
        <MudSpacer />
        <MudStack Row>
            <MudText Typo="Typo.h5">GQM-Tool</MudText>
        </MudStack>
        <MudSpacer />
        
        <MudStack Row AlignItems="AlignItems.Center">
            <MudButton>Logout</MudButton>
        </MudStack>
    </MudAppBar>
    
    <Drawer />
    
    <MudMainContent>
        @Body
    </MudMainContent>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</MudLayout>
