@page "/"
@inherits Counter
@rendermode InteractiveServer

<div>
<ul>
    @foreach (var user in Users())
    {
        <li>
            <div>ID</div>
            <div>@user.Id</div>
        </li>
    }
</ul>
</div>
<button @onclick="NewUser">New user</button>

<div>
    <h2>Projects</h2>
    <button @onclick="NewProject">New Project</button>

    <ol>
        @foreach (var project in Projects)
        {
            <li>
                <ProjectView Id="@project.Id" Refresh="Refresh" />
            </li>
        }    
    </ol>
</div>