@page "/"
@using WWW.Components.UI
@implements IDisposable
@rendermode InteractiveServer

<div>
    <ul>
        @foreach (var user in ViewService.Users)
        {
            <li>
                <div>ID</div>
                <div>@user.Id</div>
            </li>
        }
    </ul>
</div>
<button @onclick="() => ViewService.NewUser()">New user</button>

<div>
    <h2>Projects</h2>
    <button @onclick="() => ViewService.NewProject()">New Project</button>

    <ol>
        @foreach (var project in ViewService.Projects)
        {
            <li>
                <ProjectView Id="@project.Id" @key="project.Id" />
            </li>
        }    
    </ol>
</div>