@rendermode InteractiveServer

<div>
    <div>Project ID: @Id</div>
    <button @onclick="Delete">Delete Project</button>

    <div>
        <h3>Goals</h3>
        <button @onclick="NewGoal">New Goal</button>

        <ol>
            @foreach (var goal in Goals())
            {
                <li>
                    <GoalView Id="@goal.Id" Refresh="Refresh" />
                </li>
            }
        </ol>
    </div>
</div>
